@charset "UTF-8";

@media screen and (max-width: 600px) {
  * {
    transition: 0.3s;
  }

  #menu {
    display: block;
  }

  #menu h2 {
    margin-bottom: 15px;
    text-align: center;
    padding-top: 12px;
  }

  #menu nav {
    justify-content: space-evenly;
  }
  main {
    display: block;
  }

  #insideheader {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
  }

  aside {
    height: 400px;
  }

  aside img {
    width: 300px;
  }

  section {
    min-height: 350px;
  }

  li,
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 24px;
  }

  .fundosecundario {
    background-image: linear-gradient(var(--marrom), var(--marrom));
  }

  #final p {
    font-size: 18px;
  }

  legend,
  label,
  input[type="submit"],
  input[type="reset"] {
    font-size: 14px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}
